body{
    background-color: #edddd0;
}
header{
    background-color: #a5cad4;
}
h1{
    color:#334259;
    text-align: center;
}
h2,h3,p{
    color:#01010f;
}
nav{
    text-align: center;
    list-style-position: inside;
}
nav ul li{
    list-style-type: none;
}
#my_personal_website{
    font-family: 'Montserrat', sans-serif;
}
