body{
    background-color: #EAC5A9;
}
h1{
        color:#1F366B;   
}
h2{
    color:#0B3E08; 
}
h3{
    color: #61200A;
   }
p{
        color:rgb(1, 1, 15)
}
nav{
        background-color: lightblue;
        text-align: center;
        list-style-position: inside;
}
#my_personal_website{
    font-family: 'Montserrat', sans-serif;
}
