body{
    background-color: #edddd0;
}
header{
    background-color: #a5cad4;
}
h1{
    color:#334259;
    text-align:center;
    font-family: 'Montserrat', sans-serif
}
img{
    width: 100%;
    height: auto;
    max-width: max-content;
    max-height: max-content;
}
h2,h3,p{
    color:#01010f;
}
nav{
    text-align: center;
}
nav ul li{
    list-style-type: none;
    padding: 5px;
}
.nav_bar{
    display: flex;
    align-content: center;
    justify-content: center;
}
footer{
    background-color: #a5cad4;
}
footer p{
    text-align: center;
}
.main_index{
    display:grid;
    grid-template-columns: 2fr 1fr;
}
#my_photo{
    grid-column: -2/-1;
}
.first_under_h2{
    grid-column: 1/2;
}
article{
    grid-column: 1/2;
}
#course_info{
    grid-column: 1/-1;
}
.course_list{
    list-style-type: none;
}
.each_course{
    border-bottom: 2px solid black;
}
.main_courses{
    
}